html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}
figure {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  outline: none;
}
.page-header {
  margin-bottom: 15px;
}
.page-header__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.page-header__inner {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 13px;
}
.page-header__logo img {
  margin: 19px 19px 0;
}
.page-header__add-nav-wrap {
  width: 100%;
}
.page-header__add-nav-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.page-header__add-nav-link {
  display: block;
  padding: 9px 0 9px 30px;
  font-size: 16px;
  line-height: 20px;
  color: #434343;
}
.page-header__user-block {
  background: #f6f6f6;
}
.page-header__user-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.page-header__user-link {
  display: block;
  width: 116px;
  padding: 35px 0;
  margin-left: 5px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
.page-header__user-link--register {
  background: #05aecc;
}
.page-header__user-link--sign {
  background: #f0626e;
}
.page-header__user-link--whislost {
  position: relative;
  width: 142px;
  padding-right: 26px;
  background: #05aecc;
}
.page-header__user-link--whislost::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 15px;
  display: block;
  width: 23px;
  height: 25px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -298px;
}
.page-header__user-link--cart {
  position: relative;
  width: 142px;
  padding-right: 26px;
  background: #f0626e;
}
.page-header__user-link--cart::before {
  content: "";
  position: absolute;
  top: 33px;
  right: 33px;
  display: block;
  width: 28px;
  height: 24px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -90px;
}
.main-nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0 5%;
  background: #05aecc;
}
.main-nav__list-item {
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.main-nav__link {
  display: block;
  padding: 25px 22px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}
.main-nav__link:hover {
  color: #ef5966;
  background: #fff;
}
.main-nav__dropdown {
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 10;
  display: none;
  width: 265px;
  padding: 6px 19px 0;
  margin-top: 5px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.9);
}
.main-nav__dropdown--right {
  left: auto;
  right: 0;
}
.main-nav__list-item:hover .main-nav__dropdown {
  display: block;
}
.main-nav__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 19px 0 18px;
  border-bottom: 1px solid #cacaca;
}
.main-nav__item-img {
  margin-right: 12px;
  background: #fff;
}
.main-nav__item-title {
  padding-bottom: 3px;
  font-size: 16px;
  line-height: 20px;
  color: #ef5966;
}
.main-nav__item-text {
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 14px;
  color: #454545;
}
.main-nav__item-btn {
  display: inline-block;
  padding: 4px 27px;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  background: #05aecc;
}
.main-nav__dropdown-link {
  display: block;
  padding: 11px 0;
  font-size: 16px;
  line-height: 20px;
  color: #ef5966;
}
.intro {
  margin-bottom: 25px;
}
.intro__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.actions {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.59);
}
.actions__content {
  position: absolute;
  bottom: 28px;
  right: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 55px;
}
.actions__link {
  display: block;
  padding: 18.5px 9px;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  background: rgba(59, 47, 82, 0.8);
}
.actions__gift {
  position: relative;
  display: block;
  width: 52px;
  height: 55px;
  background: #00a1be;
}
.actions__gift::before {
  content: "";
  position: absolute;
  top: 14px;
  left: 15px;
  display: block;
  width: 23px;
  height: 25px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -298px;
}
.actions__cart {
  position: relative;
  display: block;
  width: 52px;
  height: 55px;
  background: #f0626e;
}
.actions__cart::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 13px;
  display: block;
  width: 28px;
  height: 24px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -90px;
}
.actions__price {
  padding: 14px 12.5px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: rgba(59, 47, 82, 0.8);
}
.actions__price span {
  font-size: 16px;
}
.actions--static {
  position: static;
  display: block;
}
.actions__content--static {
  position: static;
}
.actions__content--center {
  bottom: 72px;
  left: 62px;
}
.actions__crafts-link {
  padding: 11px 45px 0;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  background: rgba(59, 47, 82, 0.8);
}
.left-col {
  margin-right: 5px;
}
.left-col__men {
  position: relative;
  width: 670px;
  height: 570px;
  margin-bottom: 5px;
  background: #fff url("../img/man.jpg") no-repeat;
}
.left-col__men:hover .actions {
  display: block;
  transition: 0.3s;
}
.left-col__men:hover .left-col__content-wrap {
  display: none;
}
.left-col__content-wrap {
  position: absolute;
  left: 0;
  bottom: 12px;
  width: 350px;
}
.left-col__content {
  padding: 15px 0 10px 15px;
  margin-bottom: 2px;
  background: rgba(59, 47, 82, 0.8);
}
.left-col__title {
  font-family: "Aparajita", "Arial", sans-serif;
  font-size: 58px;
  line-height: 48px;
  color: #ef5966;
  text-transform: uppercase;
}
.left-col__text {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  text-transform: uppercase;
}
.left-col__description {
  padding: 9px 10px 9px 15px;
  font-family: "Aparajita", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  text-transform: uppercase;
  background: #e9656f;
}
.left-col__search {
  width: 670px;
  padding: 50px 0 50px 55px;
  margin-bottom: 5px;
  background: #f0626e;
}
.left-col__search form {
  position: relative;
}
.left-col__search-field {
  width: 485px;
  padding: 26px 20px;
  font-size: 16px;
  line-height: 18px;
  color: #424242;
  border: none;
  outline: none;
}
.left-col__search-btn {
  position: absolute;
  top: 0;
  right: 54px;
  display: block;
  width: 60px;
  height: 70px;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}
.left-col__search-btn::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 1px;
  display: block;
  width: 53px;
  height: 53px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -5px;
}
.left-col__crafts {
  padding-top: 281px;
  padding-left: 277px;
  background: url("../img/crafts.jpg");
}
.right-col__woomen {
  position: relative;
  width: 494px;
  height: 320px;
  margin-bottom: 5px;
  background: #fff url("../img/woomen.jpg");
}
.right-col__woomen:hover .actions {
  display: block;
}
.right-col__woomen:hover .right-col__content-wrap {
  display: none;
}
.right-col__content-wrap {
  position: absolute;
  left: 0;
  bottom: 8px;
  width: 270px;
}
.right-col__content {
  padding: 15px 0 10px 14px;
  margin-bottom: 2px;
  background: rgba(59, 47, 82, 0.8);
}
.right-col__title {
  font-family: "Aparajita", "Arial", sans-serif;
  font-size: 35px;
  line-height: 35px;
  color: #ef5966;
  text-transform: uppercase;
}
.right-col__text {
  font-size: 12px;
  line-height: 13px;
  color: #fff;
  text-transform: uppercase;
}
.right-col__kids {
  position: relative;
  width: 494px;
  height: 245px;
  margin-bottom: 5px;
  background: #fff url("../img/baby.jpg");
}
.right-col__kids:hover .actions {
  display: block;
  transition: 0.3s;
}
.right-col__kids:hover .right-col__content-wrap {
  display: none;
}
.right-col__jewelry {
  display: block;
  width: 494px;
  height: 511px;
  background: url("../img/jewelry.jpg");
}
.products {
  margin-bottom: 25px;
}
.products__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.products__title-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #b9b9b9;
}
.products__title {
  position: relative;
  bottom: -1px;
  padding: 30px 0 13px;
  margin-left: 25px;
  font-size: 30px;
  line-height: 30px;
  color: #00a1be;
  border-bottom: 1px solid #f0626e;
}
.products__btn {
  position: relative;
  bottom: -3px;
  width: 70px;
  height: 79px;
  background: #3c3c3c;
  border: none;
  outline: none;
  cursor: pointer;
}
.products__btn:hover {
  transition: ease 0.4s;
  background: #05aecc;
}
.products__btn--left::before {
  content: "";
  position: absolute;
  top: 27.5px;
  left: 27.5px;
  display: block;
  width: 15px;
  height: 24px;
  background: url("../img/arrow-left.png") no-repeat center;
}
.products__btn--right::before {
  content: "";
  position: absolute;
  top: 27.5px;
  left: 27.5px;
  display: block;
  width: 15px;
  height: 24px;
  background: url("../img/arrow-right.png") no-repeat center;
}
.products__slider {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}
.products__slider-slides {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  opacity: 0;
}
.products__slider-slides--showing {
  z-index: 2;
  opacity: 1;
  transition: opacity 1s;
}
.products__slider-item {
  position: relative;
  margin-right: 30px;
}
.products__slider-item:nth-child(3n) {
  margin-right: 0;
}
.products__slider-item:hover .actions {
  display: block;
}
.featured__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.featured__title-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #b9b9b9;
}
.featured__title {
  position: relative;
  bottom: -1px;
  padding: 30px 0 13px;
  margin-left: 25px;
  font-size: 30px;
  line-height: 30px;
  color: #00a1be;
  border-bottom: 1px solid #f0626e;
}
.featured__btn {
  position: relative;
  bottom: -3px;
  width: 70px;
  height: 79px;
  background: #3c3c3c;
  border: none;
  outline: none;
  cursor: pointer;
}
.featured__btn:hover {
  transition: ease 0.4s;
  background: #f0626e;
}
.featured__btn--left::before {
  content: "";
  position: absolute;
  top: 27.5px;
  left: 27.5px;
  display: block;
  width: 15px;
  height: 24px;
  background: url("../img/arrow-left.png") no-repeat center;
}
.featured__btn--right::before {
  content: "";
  position: absolute;
  top: 27.5px;
  left: 27.5px;
  display: block;
  width: 15px;
  height: 24px;
  background: url("../img/arrow-right.png") no-repeat center;
}
.featured__slider {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 400px;
}
.featured__slider-slides {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  opacity: 0;
}
.featured__slider-slides--showing {
  z-index: 2;
  opacity: 1;
  transition: opacity 1s;
}
.featured__slider-item {
  position: relative;
  height: 403px;
  margin-right: 30px;
}
.featured__slider-item:nth-child(4n) {
  margin-right: 0;
}
.featured__sale-flag {
  position: absolute;
  top: 12px;
  left: 0;
  width: 78px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-align: center;
  background: #f0626e;
}
.featured__new-flag {
  position: absolute;
  top: 12px;
  left: 0;
  width: 78px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 14px;
  color: #fff;
  text-align: center;
  background: #05aecc;
}
.featured__actions {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #dddddd;
}
.featured__actions-title {
  padding: 11px 0;
  padding-left: 12px;
  border-bottom: 1px solid #dddddd;
}
.featured__product-title {
  font-size: 18px;
  line-height: 18px;
  color: #434343;
  padding-bottom: 4px;
}
.featured__desc {
  font-size: 13px;
  line-height: 13px;
  color: #f0626e;
}
.featured__desc--new {
  color: #05aecc;
}
.featured__btn-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.featured__arr {
  position: relative;
  width: 55px;
  height: 50px;
  border-right: 1px solid #dddddd;
}
.featured__arr::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 19px;
  display: block;
  width: 19px;
  height: 12px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -68px;
}
.featured__gift {
  position: relative;
  width: 55px;
  height: 50px;
  border-right: 1px solid #dddddd;
}
.featured__gift::before {
  content: "";
  position: absolute;
  top: 16.5px;
  left: 20px;
  display: block;
  width: 15px;
  height: 17px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -333px;
}
.featured__cart {
  position: relative;
  width: 55px;
  height: 50px;
  border-right: 1px solid #dddddd;
}
.featured__cart::before {
  content: "";
  position: absolute;
  top: 19px;
  left: 17.5px;
  display: block;
  width: 17px;
  height: 15px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -124px;
}
.featured__arr:hover,
.featured__gift:hover,
.featured__cart:hover {
  background: #f2f2f1;
  transition: ease 0.3s;
}
.featured__price {
  width: 107px;
  height: 50px;
  padding-left: 20px;
  padding-top: 13px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #f0626e;
}
.featured__price span {
  font-size: 16px;
}
.featured__price--new {
  background: #05aecc;
}
.registration__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 30px;
  border-bottom: 1px solid #b9b9b9;
}
.registration__title-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
  border-bottom: 1px solid #b9b9b9;
}
.registration__title {
  position: relative;
  bottom: -1px;
  padding: 30px 0 13px;
  margin-left: 25px;
  font-size: 30px;
  line-height: 30px;
  color: #00a1be;
  border-bottom: 1px solid #f0626e;
}
.registration__text {
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 26px;
  color: #464646;
}
.registration__item-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 30px;
}
.registration__item {
  width: 370px;
  padding: 85px 0 85px 212px;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
}
.registration__item-1 {
  background: #434343 url("../img/chose.png") no-repeat 40px center;
}
.registration__item-2 {
  background: #05aecc url("../img/register.png") no-repeat 40px center;
}
.registration__item-3 {
  background: #f0626e url("../img/checkout.png") no-repeat 50px center;
}
.registration__btn {
  display: block;
  width: 650px;
  padding: 20px 0;
  margin: 0 auto;
  font-size: 27px;
  line-height: 23px;
  color: #fff;
  text-align: center;
  background: #05aecc;
}
.page-footer {
  padding-bottom: 200px;
}
.page-footer__container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 15px;
  border-bottom: 1px solid #b9b9b9;
}
.page-footer__item {
  padding-right: 2px;
  padding-left: 20px;
}
.page-footer__title {
  font-size: 25px;
  line-height: 30px;
  color: #434343;
  text-transform: uppercase;
}
.page-footer__list {
  padding-top: 40px;
}
.page-footer__list a {
  font-size: 16px;
  line-height: 30px;
  color: #676767;
}
.page-footer form {
  padding: 40px 0 30px;
}
.page-footer__field {
  display: block;
  width: 375px;
  padding: 19px 20px;
  font-size: 14px;
  line-height: 30px;
  color: #434343;
  text-transform: uppercase;
  border: 1px solid #dedede;
  outline: none;
}
.page-footer__btn {
  display: block;
  width: 375px;
  padding: 9px 0;
  font-size: 14px;
  line-height: 30px;
  color: #fff;
  text-transform: uppercase;
  background: #05aecc;
  border: none;
  outline: none;
  cursor: pointer;
}
.page-footer__social-list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 17px;
}
.page-footer__social-link {
  position: relative;
  display: block;
  width: 54px;
  height: 54px;
  margin-left: 10px;
}
.page-footer__social-link--rss {
  margin: 0;
  background: #f8bc2e;
}
.page-footer__social-link--fb {
  background: #39599f;
}
.page-footer__social-link--tw {
  background: #45b0e3;
}
.page-footer__social-link--flickr {
  background: #fff;
  border: 1px solid #dbdbdb;
}
.page-footer__social-link--google {
  background: #1872bf;
}
.page-footer__social-link--rss::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -393px;
}
.page-footer__social-link--fb::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 20px;
  display: block;
  width: 14px;
  height: 28px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -236px;
}
.page-footer__social-link--tw::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 11px;
  display: block;
  width: 32px;
  height: 24px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -427px;
}
.page-footer__social-link--flickr::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 12px;
  display: block;
  width: 30px;
  height: 14px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -274px;
}
.page-footer__social-link--google::before {
  content: "";
  position: absolute;
  top: 15.5px;
  left: 19.5px;
  display: block;
  width: 15px;
  height: 23px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -5px -360px;
}
